{% load static %}
<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Booking</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>
  <body>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>Reservas</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <a href="{% url 'booking:date' year=previous.year month=previous.month %}">« Mês anterior</a>
      </div>
      <div class="col-md-5 text-right">
        <a href="{% url 'booking:date' year=next.year month=next.month %}">Próximo mês »</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <table class="table table-bordered">

          <thead>
            <tr>
              <th colspan="7">{{ selected_date|date:"F" }} {{ selected_date.year }}</th>
            </tr>
            <tr>
              <th>Domingo</th>
              <th>Segunda</th>
              <th>Terça</th>
              <th>Quarta</th>
              <th>Quinta</th>
              <th>Sexta</th>
              <th>Sábado</th>
            </tr>
          </thead>

          <tbody>
            {% for week in calendar %}
            <tr>
              {% for day, booking in week %}
              <td
                {% if selected_date.month != day.month %}
                class ="other"
                {% else %}
                id="day_{{ day.day }}"
                {% endif %}
              >
                <strong>{{ day.day }}</strong>
                <br>
                {% if booking %}
                {{ booking.event }}
                {% else %}
                &nbsp;
                {% endif %}
              </td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>

        </table>

        {% if request.user.is_authenticated %}
        <h2>Faça sua reserva</h2>
        <form action="." method="post">

          <input type="hidden" name="user" id="user" value="{{ request.user.pk }}">

          <div class="form-group">
            <label for="event">Evento</label>
            <input class="form-control" type="text" id="event" name="event">
          </div>

          <div class="form-group">
            <label for="date">Data</label>
            <select class="form-control" name="date" id="date">
              {% for week in calendar %}
              {% for day, booking in week %}
              {% if not booking and selected_date.month == day.month %}
              <option value="{{ day.year }}-{{ day.month }}-{{ day.day}}">{{ day }}</option>
              {% endif %}
              {% endfor %}
              {% endfor %}
            </select>
          </div>

          <button type="submit" class="btn btn-primary">Enviar</button>

        </form>
        {% endif %}


      </div><!-- end .col-md-10 -->
    </div><!-- end .row -->

    <script src="{% static 'django_csrf.js' %}"></script>
    <script src="{% static 'app.js' %}"></script>
  </body>
</html>
